@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Sora:wght@100;200;300;400;500&display=swap');



header {
  margin: 45px 45px 0 45px;
}

main {
  margin: 45px 45px 0 45px;
}

body {
  margin: 0;
}

@media screen and (max-width: 768px) {
  header {
    margin: 20px;
  }

  main {
    margin: 20px;
  }


}

* {
  font-family: 'Montserrat';

}