.infos-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .host-container {
        display: flex;
        flex-direction: row-reverse;

        .person-and-rating-container {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
    }
}


@media screen and (max-width : 768px) {

    .infos-cards-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;


        .Host-star-container {
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;

            .host-container {

                display: flex;
                justify-content: center;
                align-items: center;




            }



        }


    }
}