.infos-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .host-container {
        display: flex;
        flex-direction: row-reverse;

        .person-and-rating-container {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
        }
    }
}

@media screen and (max-width : 768px) {
    .infos-cards-container {
        .host-container {
            position: relative;
            top: 85px;
            align-items: center;

        }
    }
}