.colapse-container {
    width: 80%;

    margin: auto;

}


.collapse-infos {}

@media screen and (max-width : 768px) {
    .colapse-container {
        img {
            height: 10px;
            position: relative;
            top: 5px;
        }


    }

    .tes {
        padding: 10px, 0px, 10px, 10px !important;
        width: auto !important;
        display: flex;
        align-items: center;

        img {

            height: 9px;
        }
    }
}