@media screen and (max-width : 768px) {
    .tags {
        padding: 2.16px 23px 1.84px 22.07px !important;
        font-size: 14px !important;
        margin: 5px;
        margin-left: -4px;

    }

    .forSee {
        border: 12px solid salmon;
        flex-direction: column;
    }

    .collapsed-ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}