.location-title {

    margin-top: 240px;
    padding: 20px;
    width: 100px;

    p {
        color: white;
    }
}

@media screen and (max-width : 768px) {
    .formobs {
        width: fit-content;


        margin: 0 !important;
        margin-top: 20px !important;
    }

    .img-card {
        width: 335px !important;


    }
}

.card-dark {}