.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;

    ul {
        display: flex;

        li {
            list-style: none;

        }

    }

}

@media screen and (max-width : 768px) {


    img {
        height: 36px;

    }

    .nav-ul {
        display: flex;
        border: 1px solid blue;
        padding: 0;

        li {


            a {

                font-size: 10px !important;
            }
        }
    }




}